.video__subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    width: 80%;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: left;
}

@media (min-width: 500px) and (max-width: 1023px) {
    .video__subtitle {
        margin-left: 24px;
        margin-bottom: 24px; 
    }
}

@media (max-width: 499px) {
    .video__subtitle {
        margin-left: 16px;
        margin-bottom: 16px;
    }
}