.video__icon_play {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 30px;
    left: 30px;
}

@media (min-width: 375px) and (max-width: 1023px) {
    .video__icon_play {
        top: 24px;
        left: 24px;
    }
}

@media (max-width: 374px) {
    .video__icon_play {
        top: 16px;
        left: 16px;
    }
}